.item {
    background-image: url(https://www.moreplitki.ru/images/products/19823/main.jpg);
    background-repeat: no-repeat;
    height: 85px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
}

.item img{
    float: left;
    height: 85px;
    width: 85px;
    border: rgb(228, 4, 40) 1px solid;
}

.auth{
    padding-right: 10px;
    float: right;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.auth span{
    padding: 15px;
    font-size: 10px;
}
.auth img{
    height: 60px;
    width: 60px;
}
.loader{
    width: 100px;
}
