.app-wrapper {
    background-color: grey;
    font-family: Helvetica, sans-serif;
    width: auto;
    height: 3000px;
    
}

.app-wrapper-main{
    display: grid;
    float: left;
    grid-template-columns: 1fr 11fr;
}


.app-wrapper-content {
    background-color: blue;
    border: black 2px solid;
    background-image: url("https://i.pinimg.com/originals/fa/40/5e/fa405e983146d7a786667978befa1f74.jpg");

}